In [1]:
import pandas as pd
import ast
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
movies=pd.read_csv('./dataset/tmdb_5000_movies.csv')
credit=pd.read_csv('./dataset/tmdb_5000_credits.csv')

In [3]:
dataset=movies.merge(right=credit,on='title')

In [4]:
dataset=dataset[['movie_id','title','genres','keywords','spoken_languages','overview','cast','crew']]

In [5]:
display(dataset.isna().sum())
dataset.dropna(inplace=True)
dataset.drop_duplicates(inplace=True)

movie_id            0
title               0
genres              0
keywords            0
spoken_languages    0
overview            3
cast                0
crew                0
dtype: int64

In [6]:
dataset

,movie_id,title,genres,keywords,spoken_languages,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",El Mariachi just wants to play his guitar and ...,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],[],A newlywed couple's honeymoon is upended by th...,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","""Signed, Sealed, Delivered"" introduces a dedic...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,[],[],"[{""iso_639_1"": ""en"", ""name"": ""English""}]",When ambitious New York attorney Sam is sent t...,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Ever since the second grade when he first saw ...,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [7]:
ast.literal_eval(dataset['genres'][0])

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [8]:
def getgen(genre):
    res=[]
    for i in ast.literal_eval(genre):
        res.append(i['name'])
    return res
def getdir(crew):
    res=[]
    for i in ast.literal_eval(crew):
        if i['job']=='Director':
            res.append(i['name'])
    return res

In [9]:
dataset['genres']=dataset['genres'].apply(getgen)
dataset['keywords']=dataset['keywords'].apply(getgen)
dataset['spoken_languages']=dataset['spoken_languages'].apply(getgen)
dataset['overview']=dataset['overview'].apply(lambda x:x.split())
dataset['cast']=dataset['cast'].apply(getgen)
dataset['crew']=dataset['crew'].apply(getdir)

In [10]:
dataset['tags']=dataset['genres']+dataset['keywords']+dataset['spoken_languages']+dataset['overview']+dataset['cast']+dataset['crew']
new_data = pd.DataFrame({
    'movie_id': dataset['movie_id'],
    'title': dataset['title'],
    'tags': dataset['tags']
})

In [11]:
stemmer=PorterStemmer()
new_data['tags']=new_data['tags'].apply(lambda x: [stemmer.stem(word.lower().replace(' ','')) for word in list(set(x)) if word not in stopwords.words('english')])

In [12]:
new_data['tags']=new_data['tags'].apply(lambda x: " ".join(x))

In [13]:
new_data

,movie_id,title,tags
0,19995,Avatar,colinbleasdal mattclayton 22nd follow romanc s...
1,285,Pirates of the Caribbean: At World's End,earth laurenmah fantasi quit long takayofisch ...
2,206647,Spectre,domenicofortunato alessandrocremona erickhayde...
3,49026,The Dark Knight Rises,clairejulien robertwisdom jillianarmenant ajae...
4,49529,John Carter,mysteri former escap kyleagnew dominicwest dar...
...,...,...,...
4804,9367,El Mariachi,el around famili carri tri carri chase guitar ...
4805,72766,Newlyweds,romanc daniellapineda sisters. upend respect m...
4806,231617,"Signed, Sealed, Delivered",post futur postal team kristinbooth save lette...
4807,126186,Shanghai Calling,new attorney zhushimao well-connect find ambit...
4808,25975,My Date with Drew,saw samuell.jackson first he' new drewbarrymor...

In [28]:
vectorizer = CountVectorizer()
bagofwords = vectorizer.fit_transform(new_data['tags']).toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])